/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --font-sans: 'Inconsolata', ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  --font-mono: 'Inconsolata', ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
}

html,
body {
  width: 100%;
  height: 100%;
}
